@import url("http://fonts.googleapis.com/css?family=EB%20Garamond");
@media screen {
  body {
    width: 800px;
    max-width: 80%;
    margin: 0 auto;
  }
}

body {
    font-size: 12pt;
    font-family: "EB Garamond";
}

h1 {
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
}

.top-line {
	display: flex;
        font-size: 11pt;
	justify-content: space-between;
	align-items: flex-start;
}

p,li {
    margin:0;
}


h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
  font-weight: 500;
  margin-bottom: 10px;
}


.align-left {
    text-align: left;
    width: 33.33333%;
    min-width: 0;

}

.align-center {
    width: 33.33333%;
    text-align: center;
    min-width: 0;

}

.align-right {
    width: 33.333333%;
    text-align: right;
    min-width: 0;
}

#last {
    margin-bottom: 1in;
}

.faded {
    opacity: 0.5;
}
